{% extends 'base.html' %}

{% block content %}
<head>
    <style>
        body{
            background-color: antiquewhite;
        }
        form{
            max-width: 550px;
            margin-left: 300px;
            margin-top: -480px;
            
          }
    </style>
</head>
<body>
{% if messages %}
    {% for message in messages %}
    <div style="color: red;">{{message}}</div>
    {% endfor %}
{% endif %}
<div class="container">
{% if user.is_authenticated %}
    <p style="text-align: center;">You are already logged in</p>
    <h3 style="text-align: center;">Welcome to shopping website</h3>
    <p style="text-align: center;">Click on Shopping.IN to continue shopping</p>
    <img src="media/pics/42.jpg" style="width: 60%;margin-left:250px;"> 
{% else %}
<img src="media/pics/43.png" style="width: 80%;margin-left:150px;">
    <form method="POST" class="form-group">{% csrf_token %}
    {{form}}
    
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 550px;margin-top:500px;width:25%;margin-bottom:2000px;">Log In</button>
    </form>
{% endif %}
</div>
{% endblock content %}
</body>